.button {
  width: 100%;
  text-align: center;
  justify-content: center;
  transition-duration: 0.4s;
  margin: auto;
  cursor: pointer;
}

.buttonFilled {
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: var(--color-buttons-secondary);
  background: var(--color-buttons-main);
  max-width: 264px;
  height: 48px;
  &:hover {
    transition: 0.8s;
    filter: drop-shadow(0px 4px 4px rgba(41, 45, 51, 0.6));
  }
}