.wrapper {
  margin:0 auto;
  width: 490px;
  display:table;
  position: absolute;
  left: 0;
  right:0;
  top: 50%; 
  border:1px solid;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
}

.content {
  display: flex;
  flex-direction: column;
  background: #EDF2F4;
  padding: 50px 50px 36px;
}

.image {
  width: 74px;
  height: 74px;
  display: block;
  margin: auto;
  margin-top: -88px;
}

.signature {
  text-align: center;
  margin-bottom: 4px;
}