@import "variables";
@import "mixins";

body {
  margin: 0;
  background: var(--background-color);
  color: var(--color-font-main);
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 26px;
  @include hNormalize;
}