.input {
  border: 1px solid var(--color-buttons-main);;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 12px;
  resize: none;
  background-color: #ffffff00;
  font-family: 'Roboto', sans-serif;
  &:focus { 
    outline:none;
  }
}

.signatureBlock {
  font-size: 16px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.errorMessage {
  font-size: 14px;
  color: var(--color-highlight-errors);
}

.error {
  border: 1px solid var(--color-highlight-errors);
}

.block {
  display: grid;
  margin: 8px 0;
}