@import "../../styles/variables";

.input {
  border: 1px solid var(--color-buttons-main);;
  border-radius:5x;
  padding: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  &:focus { 
    outline:none;
  }
}

.error {
  border: 1px solid var(--color-highlight-errors);
}

.errorMessage {
  font-size: 14px;
  color: var(--color-highlight-errors);
  margin: 0;
}